.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #046582;
    box-shadow: 0 0 8px 2px black;
    color: rgb(219, 216, 216);
    position: relative;
}
.navbar-container div {
    padding: 20px;
}
.logo {
    width: 39px;
}
.fa-user-circle {
    font-size: 1.5rem;
}
.fa-user-circle:hover {
    opacity: 0.7;
    cursor: pointer;
}
.navbar-link {
    text-decoration: none;
    color: palegoldenrod;
}
.menu {
    position: absolute;
    top: 130px;
    right: 10px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    background-color:white;
    display: block;
    opacity: 0.6;
    
    /* display: none; */
}
.menu:hover {
    transition: 0.3s;
   opacity:1;
    /* display: block; */

}